MCPE/
node_modules/
scripts/
config.yml
bot.yml
dissasembly.yml
.DS_Store
src/tasks/CheckMarketplaceTask.js
src/tasks/CheckKingsTask.js
src/tasks/RefreshInstantsEmbedTask.js
src/tasks/GenerateRatingDataTask.js
src/tasks/CheckRazzleLinksTask.js
src/commands/McWindowsPackageComand.js
src/tasks/CheckGithubTask.js
src/tasks/CheckPersonaTask.js
